* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color:   #020525;
    height: max-content;
    justify-content: space-around;  
    align-items: center;

}

.leftnav {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}

.rightnav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.rightnav a {
    text-decoration: none;
}

.hero {
    background-color: #1abc9c;

}

.img {
    padding-top: 20px;
    position: relative;
    width: 100vw;
}

.imgg {
    border-radius: 127px;
    width: 104px;
    height: 96px;
    margin: 0 auto;
    background-color: black;
}
.img1 {

     position: absolute;
    bottom: 0px;
    width: 100px;
    border-radius: 40px;
    height: 115px;
    margin: 0 auto; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1 , h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 15px;
    padding: 10px;
    margin: 10px auto;
} 

.icons p span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 30px;
}

.section1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.section1 .parent {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.child{
    display: flex;
    flex-wrap: wrap;
    
}

.child1{
    max-width: 250px;
    max-height: 250px;
    background-color:#1abc9c;
    border-radius: 2%;
    margin: 10px;
}

.html , .css , .github , .git{
    width: 200px;
    height: 200px;
    background-color: #88f30059;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.skillsimg{
    width: 100px;
}


.parent{
    display: flex;
    flex-wrap: wrap;
}

.parent1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.section2 {
    background-color: #1abc9c;
}

.section2 h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

.p {
    display: flex; 
    width:300px;
    gap: 20px;
}

.review {
    display: flex;
    justify-content: center; 
    padding: 10px;
}

.review1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color:#00ffa7 ;
    border-radius: 20px;
}

.section3 h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.contactme .icons span{
    color: black;
}

.data {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.data1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     align-items: center;
     gap: 10px; 
}

.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:   #020525;
    color: white;
}

input {
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
}

.send{
    margin-bottom: 10px;
}


